In [1]:
import pandas as pd
import numpy as np
import os
import unidecode

In [2]:
print(os.getcwd())
df_parroquias=pd.read_csv('../data_csv/codigos_estandar/parroquias/codigo_vs_parroquia.csv')
df_parroquias

d:\Open-ELEC\tests

,Unnamed: 0,2002,2004,2006,2007,2009,2013,2014,2017,2018,2019,2021,2023
0,5,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN,ABANIN
1,10,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON,ABDON CALDERON
2,15,ABDON CALDERON/LA,ABDON CALDERON/LA,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION,ABDON CALDERON / LA UNION
3,20,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS,ACHUPALLAS
4,25,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO,AHUANO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,9086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C. E. EN MONTERREY,C. E. EN MONTERREY,C. E. EN MONTERREY,C. E. EN MONTERREY,C. E. EN MONTERREY
1358,9088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C. E. EN BELARUS,C. E. EN BELARUS,C. E. EN BELARUS,NaN,NaN
1359,9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA CUCA,NUEVA TRONCAL,NaN,NaN
1360,9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS,ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS,NaN,NaN,NaN
1361,9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA,ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA,NaN,NaN,NaN

In [3]:
# count the number of nan values of each column
df_parroquias.isnull().sum()

Unnamed: 0      0
2002          197
2004          185
2006          119
2007          128
2009          111
2013           33
2014           24
2017           56
2018           54
2019           56
2021           63
2023           62
dtype: int64

In [4]:
std_parroquias=pd.read_csv('../data_csv/codigos_estandar/parroquias/std_parroquias.csv')
std_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CODIGO_CANTON,NOMBRE_CANTON,CODIGO_PARROQUIA,NOMBRE_PARROQUIA,OLD_CODIGO_CANTON
0,21.0,SUCUMBIOS,2101.0,LAGO AGRIO,210160.0,10 DE AGOSTO,4625.0
1,12.0,LOS RIOS,1207.0,VENTANAS,120701.0,10 DE NOVIEMBRE,7480.0
2,12.0,LOS RIOS,1210.0,BUENA FE,121003.0,11 DE OCTUBRE,0.0
3,11.0,LOJA,1114.0,PINDAL,111452.0,12 DE DICIEMBRE,1035.0
4,13.0,MANABI,1301.0,PORTOVIEJO,130102.0,12 DE MARZO,5280.0
...,...,...,...,...,...,...,...
1339,19.0,ZAMORA CHINCHIPE,1902.0,CHINCHIPE,190250.0,ZUMBA,NaN
1340,5.0,COTOPAXI,504.0,PUJILI,50458.0,ZUMBAHUA,NaN
1341,19.0,ZAMORA CHINCHIPE,1907.0,CENTINELA DEL CONDOR,190750.0,ZUMBI,NaN
1342,14.0,MORONA SANTIAGO,1401.0,MORONA,140160.0,ZUNA,NaN
1343,19.0,ZAMORA CHINCHIPE,1903.0,NANGARITZA,190351.0,ZURMI,NaN

In [5]:
parroquias_2023=pd.read_csv('../data_csv/seccionales/2023/diccionarios/parroquias_2023.csv')
parroquias_2023

,PROVINCIA_CODIGO,PROVINCIA_NOMBRE,CANTON_CODIGO,CANTON_NOMBRE,PARROQUIA_CODIGO,PARROQUIA_NOMBRE,PARROQUIA_ESTADO
0,1.0,AZUAY,260.0,CUENCA,285.0,BAÃ‘OS,RURAL
1,1.0,AZUAY,260.0,CUENCA,730.0,CUMBE,RURAL
2,1.0,AZUAY,260.0,CUENCA,845.0,CHAUCHA / ANGAS,RURAL
3,1.0,AZUAY,260.0,CUENCA,860.0,CHECA JIDCAY,RURAL
4,1.0,AZUAY,260.0,CUENCA,905.0,CHIQUINTAD,RURAL
...,...,...,...,...,...,...,...
1295,28.0,"LATINOAMERICA, EL CARIBE Y AFRICA",341.0,EGIPTO,9055.0,C. E. EN EL CAIRO,EXTERIOR
1296,28.0,"LATINOAMERICA, EL CARIBE Y AFRICA",351.0,REPUBLICA DOMINICANA,9056.0,C. E. EN SANTO DOMINGO,EXTERIOR
1297,28.0,"LATINOAMERICA, EL CARIBE Y AFRICA",391.0,URUGUAY,9061.0,C. E. EN MONTEVIDEO,EXTERIOR
1298,28.0,"LATINOAMERICA, EL CARIBE Y AFRICA",401.0,VENEZUELA,9062.0,C. E. EN CARACAS,EXTERIOR
1299,28.0,"LATINOAMERICA, EL CARIBE Y AFRICA",441.0,SUDAFRICA,9077.0,C. E. EN PRETORIA,EXTERIOR

In [6]:
#match the parroquias from the std_parroquias with the parroquias from the parroquias_2023
#first we need to put the unidecode of the parroquias_2023  and std_parroquias
std_parroquias['PARROQUIA_UNIDECODE']=std_parroquias['NOMBRE_PARROQUIA'].apply(lambda x: unidecode.unidecode(x).upper())
parroquias_2023['PARROQUIA_UNIDECODE']=parroquias_2023['PARROQUIA_NOMBRE'].apply(lambda x: unidecode.unidecode(x).upper())
#also with the nombre_canton
std_parroquias['CANTON_UNIDECODE']=std_parroquias['NOMBRE_CANTON'].apply(lambda x: unidecode.unidecode(x).upper())
parroquias_2023['CANTON_UNIDECODE']=parroquias_2023['CANTON_NOMBRE'].apply(lambda x: unidecode.unidecode(x).upper())


#merge the dataframes
df_parroquias=pd.merge(std_parroquias,parroquias_2023,how='left',on=['PARROQUIA_UNIDECODE','CANTON_UNIDECODE'])
df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CODIGO_CANTON,NOMBRE_CANTON,CODIGO_PARROQUIA,NOMBRE_PARROQUIA,OLD_CODIGO_CANTON,PARROQUIA_UNIDECODE,CANTON_UNIDECODE,PROVINCIA_CODIGO,PROVINCIA_NOMBRE,CANTON_CODIGO,CANTON_NOMBRE,PARROQUIA_CODIGO,PARROQUIA_NOMBRE,PARROQUIA_ESTADO
0,21.0,SUCUMBIOS,2101.0,LAGO AGRIO,210160.0,10 DE AGOSTO,4625.0,10 DE AGOSTO,LAGO AGRIO,21.0,SUCUMBIOS,625.0,LAGO AGRIO,4625.0,10 DE AGOSTO,RURAL
1,12.0,LOS RIOS,1207.0,VENTANAS,120701.0,10 DE NOVIEMBRE,7480.0,10 DE NOVIEMBRE,VENTANAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.0,LOS RIOS,1210.0,BUENA FE,121003.0,11 DE OCTUBRE,0.0,11 DE OCTUBRE,BUENA FE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11.0,LOJA,1114.0,PINDAL,111452.0,12 DE DICIEMBRE,1035.0,12 DE DICIEMBRE,PINDAL,11.0,LOJA,730.0,PINDAL,1035.0,12 DE DICIEMBRE,RURAL
4,13.0,MANABI,1301.0,PORTOVIEJO,130102.0,12 DE MARZO,5280.0,12 DE MARZO,PORTOVIEJO,13.0,MANABI,440.0,PORTOVIEJO,5280.0,12 DE MARZO,URBANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,19.0,ZAMORA CHINCHIPE,1902.0,CHINCHIPE,190250.0,ZUMBA,NaN,ZUMBA,CHINCHIPE,19.0,ZAMORA CHINCHIPE,660.0,CHINCHIPE,6315.0,ZUMBA,URBANA
1340,5.0,COTOPAXI,504.0,PUJILI,50458.0,ZUMBAHUA,NaN,ZUMBAHUA,PUJILI,5.0,COTOPAXI,105.0,PUJILI,4365.0,ZUMBAHUA,RURAL
1341,19.0,ZAMORA CHINCHIPE,1907.0,CENTINELA DEL CONDOR,190750.0,ZUMBI,NaN,ZUMBI,CENTINELA DEL CONDOR,19.0,ZAMORA CHINCHIPE,980.0,CENTINELA DEL CONDOR,6625.0,ZUMBI,URBANA
1342,14.0,MORONA SANTIAGO,1401.0,MORONA,140160.0,ZUNA,NaN,ZUNA,MORONA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,19.0,ZAMORA CHINCHIPE,1903.0,NANGARITZA,190351.0,ZURMI,NaN,ZURMI,NANGARITZA,19.0,ZAMORA CHINCHIPE,130.0,NANGARITZA,1675.0,ZURMI,RURAL

In [7]:
#Preserve the next columns
columns=['CODIGO_PROVINCIA','NOMBRE_PROVINCIA','CANTON_CODIGO','CODIGO_CANTON','CANTON_UNIDECODE','PARROQUIA_CODIGO','CODIGO_PARROQUIA','PARROQUIA_UNIDECODE']
df_parroquias=df_parroquias[columns]
#put it on order by PROVINCIA_CODIGO,CANTON_CODIGO,CODIGO_CANT
df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,21.0,SUCUMBIOS,625.0,2101.0,LAGO AGRIO,4625.0,210160.0,10 DE AGOSTO
1,12.0,LOS RIOS,NaN,1207.0,VENTANAS,NaN,120701.0,10 DE NOVIEMBRE
2,12.0,LOS RIOS,NaN,1210.0,BUENA FE,NaN,121003.0,11 DE OCTUBRE
3,11.0,LOJA,730.0,1114.0,PINDAL,1035.0,111452.0,12 DE DICIEMBRE
4,13.0,MANABI,440.0,1301.0,PORTOVIEJO,5280.0,130102.0,12 DE MARZO
...,...,...,...,...,...,...,...,...
1339,19.0,ZAMORA CHINCHIPE,660.0,1902.0,CHINCHIPE,6315.0,190250.0,ZUMBA
1340,5.0,COTOPAXI,105.0,504.0,PUJILI,4365.0,50458.0,ZUMBAHUA
1341,19.0,ZAMORA CHINCHIPE,980.0,1907.0,CENTINELA DEL CONDOR,6625.0,190750.0,ZUMBI
1342,14.0,MORONA SANTIAGO,NaN,1401.0,MORONA,NaN,140160.0,ZUNA
1343,19.0,ZAMORA CHINCHIPE,130.0,1903.0,NANGARITZA,1675.0,190351.0,ZURMI

In [8]:
#Se llenaron a mano los valores faltantes
df_parroquias=pd.read_excel('../data_csv/codigos_estandar/parroquias/parroquias_2023_std.xlsx')
df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,13.0,MANABI,NaN,1316.0,24 DE MAYO,1570.0,131653.0,ARQUITECTO SIXTO DURAN BALLEN
1,13.0,MANABI,460.0,1316.0,24 DE MAYO,330.0,131651.0,BELLAVISTA
2,13.0,MANABI,460.0,1316.0,24 DE MAYO,2555.0,131652.0,NOBOA
3,13.0,MANABI,460.0,1316.0,24 DE MAYO,6105.0,131650.0,SUCRE
4,22.0,ORELLANA,NaN,2202.0,AGUARICO,510.0,220251.0,CAPITAN AUGUSTO RIVADENEYRA
...,...,...,...,...,...,...,...,...
1339,7.0,EL ORO,360.0,713.0,ZARUMA,2350.0,71356.0,MALVAS
1340,7.0,EL ORO,360.0,713.0,ZARUMA,4450.0,71357.0,MULUNCAY GRANDE
1341,7.0,EL ORO,360.0,713.0,ZARUMA,1750.0,71359.0,SALVIAS
1342,7.0,EL ORO,360.0,713.0,ZARUMA,1700.0,71358.0,SINSAO
1343,7.0,EL ORO,360.0,713.0,ZARUMA,6310.0,71350.0,ZARUMA

In [9]:
#put codigo_canton as a string
df_parroquias['CODIGO_CANTON']=df_parroquias['CODIGO_CANTON'].astype(str)
#put codigo_provincia as a string
df_parroquias['CODIGO_PROVINCIA']=df_parroquias['CODIGO_PROVINCIA'].astype(str)
#put codigo_parroquia as a string
df_parroquias['CODIGO_PARROQUIA']=df_parroquias['CODIGO_PARROQUIA'].astype(str)


# in the canton_codigo column if the value has 3 digits we need to put a 0 in front of the number

for i in range(len(df_parroquias)):
    #print (len(str(df_parroquias.loc[i,'CODIGO_CANTON'])))
    if len(str(df_parroquias.loc[i,'CODIGO_CANTON']))==5:
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        df_parroquias.loc[i,'CODIGO_CANTON']='0'+str(df_parroquias.loc[i,'CODIGO_CANTON'])

# in the provincia_codigo column if the value has 2 digits we need to put a 0 in front of the number
for i in range(len(df_parroquias)):
    #print (len(str(df_parroquias.loc[i,'CODIGO_CANTON'])))
    if len(str(df_parroquias.loc[i,'CODIGO_PROVINCIA']))==3:
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        df_parroquias.loc[i,'CODIGO_PROVINCIA']='0'+str(df_parroquias.loc[i,'CODIGO_PROVINCIA'])
        
# in the parroquia_codigo column if the value has 2 digits we need to put a 0 in front of the number
for i in range(len(df_parroquias)):
    #print (len(str(df_parroquias.loc[i,'CODIGO_CANTON'])))
    if len(str(df_parroquias.loc[i,'CODIGO_PARROQUIA']))==7:
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        #print (df_parroquias.loc[i,'CODIGO_CANTON'])
        df_parroquias.loc[i,'CODIGO_PARROQUIA']='0'+str(df_parroquias.loc[i,'CODIGO_PARROQUIA'])        
df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,13.0,MANABI,NaN,1316.0,24 DE MAYO,1570.0,131653.0,ARQUITECTO SIXTO DURAN BALLEN
1,13.0,MANABI,460.0,1316.0,24 DE MAYO,330.0,131651.0,BELLAVISTA
2,13.0,MANABI,460.0,1316.0,24 DE MAYO,2555.0,131652.0,NOBOA
3,13.0,MANABI,460.0,1316.0,24 DE MAYO,6105.0,131650.0,SUCRE
4,22.0,ORELLANA,NaN,2202.0,AGUARICO,510.0,220251.0,CAPITAN AUGUSTO RIVADENEYRA
...,...,...,...,...,...,...,...,...
1339,07.0,EL ORO,360.0,0713.0,ZARUMA,2350.0,071356.0,MALVAS
1340,07.0,EL ORO,360.0,0713.0,ZARUMA,4450.0,071357.0,MULUNCAY GRANDE
1341,07.0,EL ORO,360.0,0713.0,ZARUMA,1750.0,071359.0,SALVIAS
1342,07.0,EL ORO,360.0,0713.0,ZARUMA,1700.0,071358.0,SINSAO
1343,07.0,EL ORO,360.0,0713.0,ZARUMA,6310.0,071350.0,ZARUMA

In [10]:
#add a "C" in front of the codigo_canton
df_parroquias['CODIGO_CANTON']='C'+df_parroquias['CODIGO_CANTON']

#add a "P" in front of the codigo_provincia
df_parroquias['CODIGO_PROVINCIA']='P'+df_parroquias['CODIGO_PROVINCIA']

#add a "PR" in front of the codigo_parroquia if not nan
df_parroquias['CODIGO_PARROQUIA']=df_parroquias['CODIGO_PARROQUIA'].apply(lambda x: 'Q'+str(x) if pd.notnull(x) else x)

df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,P13.0,MANABI,NaN,C1316.0,24 DE MAYO,1570.0,Q131653.0,ARQUITECTO SIXTO DURAN BALLEN
1,P13.0,MANABI,460.0,C1316.0,24 DE MAYO,330.0,Q131651.0,BELLAVISTA
2,P13.0,MANABI,460.0,C1316.0,24 DE MAYO,2555.0,Q131652.0,NOBOA
3,P13.0,MANABI,460.0,C1316.0,24 DE MAYO,6105.0,Q131650.0,SUCRE
4,P22.0,ORELLANA,NaN,C2202.0,AGUARICO,510.0,Q220251.0,CAPITAN AUGUSTO RIVADENEYRA
...,...,...,...,...,...,...,...,...
1339,P07.0,EL ORO,360.0,C0713.0,ZARUMA,2350.0,Q071356.0,MALVAS
1340,P07.0,EL ORO,360.0,C0713.0,ZARUMA,4450.0,Q071357.0,MULUNCAY GRANDE
1341,P07.0,EL ORO,360.0,C0713.0,ZARUMA,1750.0,Q071359.0,SALVIAS
1342,P07.0,EL ORO,360.0,C0713.0,ZARUMA,1700.0,Q071358.0,SINSAO
1343,P07.0,EL ORO,360.0,C0713.0,ZARUMA,6310.0,Q071350.0,ZARUMA

In [27]:
df_parroquias=pd.read_excel('../data_csv/codigos_estandar/parroquias/std_parroquias_v2.xlsx')
df_parroquias

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,P07,EL ORO,360.0,C0713,ZARUMA,5.0,Q071351,ABANIN
1,P13,MANABI,440.0,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON
2,P01,AZUAY,NaN,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON
3,P06,CHIMBORAZO,215.0,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS
4,P15,NAPO,620.0,C1501,TENA,25.0,Q150151,AHUANO
...,...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,NaN,C1208,VINCES,NaN,Q120802,VINCES CENTRAL
1336,P13,MANABI,NaN,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES
1337,P24,SANTA ELENA,NaN,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO
1338,P21,SUCUMBIOS,NaN,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO
1339,P90,ZONA EN ESTUDIO,NaN,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [28]:
std_cantones=pd.read_csv('../data_csv/codigos_estandar/cantones/std_cantones.csv')
std_cantones

,PROVINCIA_CODIGO_OLD,PROVINCIA_CODIGO,PROVINCIA_NOMBRE,CANTON_CODIGO_OLD,CANTON_NOMBRE,CANTON_CODIGO
0,1.0,P01,AZUAY,260.0,CUENCA,C0101
1,1.0,P01,AZUAY,265.0,GUALACEO,C0103
2,1.0,P01,AZUAY,270.0,GIRON,C0102
3,1.0,P01,AZUAY,275.0,PAUTE,C0105
4,1.0,P01,AZUAY,280.0,SIGSIG,C0109
...,...,...,...,...,...,...
269,28.0,P28,"LATAM, CARIBE, AFRICA",331.0,PERU,PER
270,28.0,P28,"LATAM, CARIBE, AFRICA",351.0,REPUBLICA DOMINICANA,DOM
271,28.0,P28,"LATAM, CARIBE, AFRICA",441.0,SUDAFRICA,ZAF
272,28.0,P28,"LATAM, CARIBE, AFRICA",391.0,URUGUAY,URY
273,28.0,P28,"LATAM, CARIBE, AFRICA",401.0,VENEZUELA,VEN

In [29]:

#mergue the dataframes
#in std cantones is CANTON_CODIGO and in std_parroquias is CODIGO_CANTON
df_parroquias_std=pd.merge(df_parroquias,std_cantones,how='left',left_on='CODIGO_CANTON',right_on='CANTON_CODIGO')

df_parroquias_std

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO_x,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE,PROVINCIA_CODIGO_OLD,PROVINCIA_CODIGO,PROVINCIA_NOMBRE,CANTON_CODIGO_OLD,CANTON_NOMBRE,CANTON_CODIGO_y
0,P07,EL ORO,360.0,C0713,ZARUMA,5.0,Q071351,ABANIN,7.0,P07,EL ORO,360.0,ZARUMA,C0713
1,P13,MANABI,440.0,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON,13.0,P13,MANABI,440.0,PORTOVIEJO,C1301
2,P01,AZUAY,NaN,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON,1.0,P01,AZUAY,285.0,SANTA ISABEL,C0108
3,P06,CHIMBORAZO,215.0,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS,6.0,P06,CHIMBORAZO,215.0,ALAUSI,C0602
4,P15,NAPO,620.0,C1501,TENA,25.0,Q150151,AHUANO,15.0,P15,NAPO,620.0,TENA,C1501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,NaN,C1208,VINCES,NaN,Q120802,VINCES CENTRAL,12.0,P12,LOS RIOS,525.0,VINCES,C1208
1336,P13,MANABI,NaN,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES,13.0,P13,MANABI,445.0,MONTECRISTI,C1309
1337,P24,SANTA ELENA,NaN,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO,24.0,P24,SANTA ELENA,405.0,SALINAS,C2403
1338,P21,SUCUMBIOS,NaN,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO,21.0,P21,SUCUMBIOS,650.0,PUTUMAYO,C2103
1339,P90,ZONA EN ESTUDIO,NaN,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO),90.0,P90,ZONA EN ESTUDIO,NaN,JUVAL,C9006

In [30]:
#Print the rows that are in df_parroquias_std and not in df_parroquias
df_parroquias_std[~df_parroquias_std['CANTON_NOMBRE'].isin(df_parroquias['CANTON_UNIDECODE'])]

,CODIGO_PROVINCIA,NOMBRE_PROVINCIA,CANTON_CODIGO_x,CODIGO_CANTON,CANTON_UNIDECODE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE,PROVINCIA_CODIGO_OLD,PROVINCIA_CODIGO,PROVINCIA_NOMBRE,CANTON_CODIGO_OLD,CANTON_NOMBRE,CANTON_CODIGO_y
1118,P09,GUAYAS,NaN,C0927,GENERAL ANTONIO ELIZALDE,6620.0,Q092750,GENERAL ANTONIO ELIZALDE,9.0,P09,GUAYAS,985.0,GENERAL ANTONIO ELIZALDE,C0927
1244,P26,"EUROPA, ASIA, OCEANIA",171.0,ESP,ESPAÃ‘A,9021.0,Qnan,C. E. EN PALMA DE MALLORCA,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1246,P26,"EUROPA, OCEANIA Y ASIA",171.0,ESP,ESPAÃ‘A,9023.0,Qnan,C. E. EN BARCELONA,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1247,P26,"EUROPA, ASIA, OCEANIA",171.0,ESP,ESPAÃ‘A,9024.0,Qnan,C. E. EN MADRID,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1248,P26,"EUROPA, ASIA, OCEANIA",171.0,ESP,ESPAÃ‘A,9025.0,Qnan,C. E. EN VALENCIA,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1249,P26,"EUROPA, ASIA, OCEANIA",171.0,ESP,ESPAÃ‘A,9026.0,Qnan,C. E. EN MURCIA,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1260,P26,"EUROPA, ASIA, OCEANIA",NaN,GBR,REINO UNIDO DE GRAN BRETAÃ‘A E IRLANDA DEL NORTE,9037.0,Qnan,C. E. EN LONDRES,26.0,P26,"EUROPA, ASIA, OCEANIA",201.0,REINO UNIDO DE GRAN BRETANA E IRLANDA DEL NORTE,GBR
1289,P26,"EUROPA, ASIA, OCEANIA",171.0,ESP,ESPAÃ‘A,9066.0,Qnan,C. E. EN MALAGA,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1297,P26,"EUROPA, OCEANIA Y ASIA",451.0,ESP,ESPAÃ‘A,9074.0,Qnan,C. E. EN ALICANTE,26.0,P26,"EUROPA, ASIA, OCEANIA",171.0,ESPANA,ESP
1301,P26,"EUROPA, ASIA, OCEANIA",NaN,IRN,IRAN,9079.0,Qnan,C. E. EN TEHERAN,26.0,P26,"EUROPA, ASIA, OCEANIA",461.0,IRAN,IRN

In [32]:
# Preserve the next columns
columns=['PROVINCIA_CODIGO','NOMBRE_PROVINCIA','CANTON_CODIGO_y','CANTON_NOMBRE','PARROQUIA_CODIGO','CODIGO_PARROQUIA','PARROQUIA_UNIDECODE']
df_parroquias_std=df_parroquias_std[columns]
df_parroquias_std

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CANTON_CODIGO_y,CANTON_NOMBRE,PARROQUIA_CODIGO,CODIGO_PARROQUIA,PARROQUIA_UNIDECODE
0,P07,EL ORO,C0713,ZARUMA,5.0,Q071351,ABANIN
1,P13,MANABI,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON
2,P01,AZUAY,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON
3,P06,CHIMBORAZO,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS
4,P15,NAPO,C1501,TENA,25.0,Q150151,AHUANO
...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,C1208,VINCES,NaN,Q120802,VINCES CENTRAL
1336,P13,MANABI,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES
1337,P24,SANTA ELENA,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO
1338,P21,SUCUMBIOS,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO
1339,P90,ZONA EN ESTUDIO,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [33]:
#rename the columns
df_parroquias_std.rename(columns={'CANTON_CODIGO_y':'CODIGO_CANTON'},inplace=True)
df_parroquias_std.rename(columns={'PARROQUIA_CODIGO':'PARROQUIA_CODIGO_OLD'},inplace=True)
df_parroquias_std.rename(columns={'CODIGO_PARROQUIA':'PARROQUIA_CODIGO'},inplace=True)
df_parroquias_std.rename(columns={'PARROQUIA_UNIDECODE':'PARROQUIA_NOMBRE'},inplace=True)

df_parroquias_std

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CODIGO_CANTON,CANTON_NOMBRE,PARROQUIA_CODIGO_OLD,PARROQUIA_CODIGO,PARROQUIA_NOMBRE
0,P07,EL ORO,C0713,ZARUMA,5.0,Q071351,ABANIN
1,P13,MANABI,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON
2,P01,AZUAY,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON
3,P06,CHIMBORAZO,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS
4,P15,NAPO,C1501,TENA,25.0,Q150151,AHUANO
...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,C1208,VINCES,NaN,Q120802,VINCES CENTRAL
1336,P13,MANABI,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES
1337,P24,SANTA ELENA,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO
1338,P21,SUCUMBIOS,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO
1339,P90,ZONA EN ESTUDIO,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [35]:
# Revisar quÃ© parroquias tienen cÃ³digo "Qnan"
df_parroquias_std[df_parroquias_std['PARROQUIA_CODIGO']=='Qnan']

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CODIGO_CANTON,CANTON_NOMBRE,PARROQUIA_CODIGO_OLD,PARROQUIA_CODIGO,PARROQUIA_NOMBRE
1224,P26,"EUROPA, ASIA, OCEANIA",DEU,ALEMANIA,9001.0,Qnan,C. E. EN BERLIN
1225,P26,"EUROPA, ASIA, OCEANIA",DEU,ALEMANIA,9002.0,Qnan,C. E. EN HAMBURGO
1226,P28,"LATAM, CARIBE, AFRICA",ARG,ARGENTINA,9003.0,Qnan,C. E. EN BUENOS AIRES
1227,P26,"EUROPA, ASIA, OCEANIA",AUS,AUSTRALIA,9004.0,Qnan,C. E. EN SYDNEY
1228,P26,"EUROPA, ASIA, OCEANIA",AUS,AUSTRALIA,9005.0,Qnan,C. E. EN CAMBERRA
...,...,...,...,...,...,...,...
1306,P28,"LATAM, CARIBE, AFRICA",MEX,MEXICO,9084.0,Qnan,C. E. EN MERIDA
1307,P28,"LATAM, CARIBE, AFRICA",MEX,MEXICO,9086.0,Qnan,C. E. EN MONTERREY
1308,P26,"EUROPA, ASIA, OCEANIA",BLR,BELARUS,9088.0,Qnan,C. E. EN BELARUS
1309,P13,MANABI,C998,ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA,9998.0,Qnan,ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA
1310,P10,IMBABURA,C999,ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS,9999.0,Qnan,ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS

In [36]:
#Colocar parroquia_codigo_old como int
df_parroquias_std['PARROQUIA_CODIGO_OLD']=df_parroquias_std['PARROQUIA_CODIGO_OLD'].apply(lambda x: int(x) if pd.notnull(x) else x)
df_parroquias_std

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CODIGO_CANTON,CANTON_NOMBRE,PARROQUIA_CODIGO_OLD,PARROQUIA_CODIGO,PARROQUIA_NOMBRE
0,P07,EL ORO,C0713,ZARUMA,5.0,Q071351,ABANIN
1,P13,MANABI,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON
2,P01,AZUAY,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON
3,P06,CHIMBORAZO,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS
4,P15,NAPO,C1501,TENA,25.0,Q150151,AHUANO
...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,C1208,VINCES,NaN,Q120802,VINCES CENTRAL
1336,P13,MANABI,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES
1337,P24,SANTA ELENA,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO
1338,P21,SUCUMBIOS,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO
1339,P90,ZONA EN ESTUDIO,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [37]:
#Para las parroquias que tienen cÃ³digo "Qnan" se les asigna el cÃ³digo de PARROQUIA_CODIGO_OLD con la Q adelante
df_parroquias_std['PARROQUIA_CODIGO']=df_parroquias_std.apply(lambda x: 'Q'+str(x['PARROQUIA_CODIGO_OLD']) if x['PARROQUIA_CODIGO']=='Qnan' else x['PARROQUIA_CODIGO'],axis=1)
df_parroquias_std

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CODIGO_CANTON,CANTON_NOMBRE,PARROQUIA_CODIGO_OLD,PARROQUIA_CODIGO,PARROQUIA_NOMBRE
0,P07,EL ORO,C0713,ZARUMA,5.0,Q071351,ABANIN
1,P13,MANABI,C1301,PORTOVIEJO,10.0,Q130151,ABDON CALDERON
2,P01,AZUAY,C0108,SANTA ISABEL,15.0,Q010851,ABDON CALDERON
3,P06,CHIMBORAZO,C0602,ALAUSI,20.0,Q060251,ACHUPALLAS
4,P15,NAPO,C1501,TENA,25.0,Q150151,AHUANO
...,...,...,...,...,...,...,...
1335,P12,LOS RIOS,C1208,VINCES,NaN,Q120802,VINCES CENTRAL
1336,P13,MANABI,C1309,MONTECRISTI,NaN,Q130906,ISABEL MUENTES
1337,P24,SANTA ELENA,C2403,SALINAS,NaN,Q240302,GENERAL ALBERTO ENRIQUEZ GALLO
1338,P21,SUCUMBIOS,C2103,PUTUMAYO,NaN,Q210350,PUERTO EL CARMEN DE PUTUMAYO
1339,P90,ZONA EN ESTUDIO,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [38]:
# Revisar quÃ© parroquias tienen cÃ³digo "Qnan"
df_parroquias_std[df_parroquias_std['PARROQUIA_CODIGO']=='Qnan']

Empty DataFrame
Columns: [PROVINCIA_CODIGO, NOMBRE_PROVINCIA, CODIGO_CANTON, CANTON_NOMBRE, PARROQUIA_CODIGO_OLD, PARROQUIA_CODIGO, PARROQUIA_NOMBRE]
Index: []

In [40]:
#revisar que no hayan valores repetidos
df_parroquias_std[df_parroquias_std.duplicated(subset=['PARROQUIA_CODIGO'],keep=False)]

Empty DataFrame
Columns: [PROVINCIA_CODIGO, NOMBRE_PROVINCIA, CODIGO_CANTON, CANTON_NOMBRE, PARROQUIA_CODIGO_OLD, PARROQUIA_CODIGO, PARROQUIA_NOMBRE]
Index: []

In [43]:
#hacer un sort por provincia_nombre,canton_nombre,parroquia_nombre
df_parroquias_std.sort_values(by=['PROVINCIA_CODIGO','CANTON_NOMBRE','PARROQUIA_NOMBRE'],inplace=True)
df_parroquias_std

,PROVINCIA_CODIGO,NOMBRE_PROVINCIA,CODIGO_CANTON,CANTON_NOMBRE,PARROQUIA_CODIGO_OLD,PARROQUIA_CODIGO,PARROQUIA_NOMBRE
1168,P01,AZUAY,C0115,CAMILO PONCE ENRIQUEZ,6875.0,Q011550,CAMILO PONCE ENRIQUEZ
1084,P01,AZUAY,C0111,CHORDELEG,6435.0,Q011150,CHORDELEG
305,P01,AZUAY,C0111,CHORDELEG,1535.0,Q011152,LA UNION
314,P01,AZUAY,C0111,CHORDELEG,1585.0,Q011153,LUIS GALARZA ORELLANA
538,P01,AZUAY,C0111,CHORDELEG,2950.0,Q011151,PRINCIPAL
...,...,...,...,...,...,...,...
1279,P28,"LATAM, CARIBE, AFRICA",DOM,REPUBLICA DOMINICANA,9056.0,Q9056.0,C. E. EN SANTO DOMINGO
1299,P28,"LATAM, CARIBE, AFRICA",ZAF,SUDAFRICA,9077.0,Q9077.0,C. E. EN PRETORIA
1284,P28,"LATAM, CARIBE, AFRICA",URY,URUGUAY,9061.0,Q9061.0,C. E. EN MONTEVIDEO
1285,P28,"LATAM, CARIBE, AFRICA",VEN,VENEZUELA,9062.0,Q9062.0,C. E. EN CARACAS
1339,P90,ZONA EN ESTUDIO,C9006,JUVAL,NaN,Q900651,JUVAL (CANAR-CHIMBORAZO)

In [44]:
df_parroquias_std.to_csv('../data_csv/codigos_estandar/parroquias/std_parroquias.csv',index=False)
df_parroquias_std.to_excel('../data_csv/codigos_estandar/parroquias/std_parroquias.xlsx',index=False)

: