In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
print(os.getcwd())

d:\Open-ELEC\tests

In [4]:
def find_row(df, column, value):
    '''
    Encuentra la fila en un DataFrame que coincide con un valor espec√≠fico en una columna.
    
    Parameters
    ----------
        - df: DataFrame
            DataFrame con los datos a procesar.
        - column: str
            Nombre de la columna en la que buscar el valor.
        - value: str
            Valor a buscar en la columna.
    
    Returns
    -------
        - row: Series
            Fila que coincide con el valor especificado.
    
    Examples
    --------
    find_row(df, 'PARROQUIA_NOMBRE', 'SAN ANTONIO')
    '''
    rows = df[df[column] == value]
    return rows

In [20]:
df_results_2002=pd.read_csv("test_results/test_2002.csv")
df_votaciones_2002=pd.read_csv("test_results/test_2002_votacion.csv")
# Using nunique() method
num_unique_values = df_results_2002['PARROQUIA_CODIGO'].nunique()
#extraer dataframe con DIGNIDAD_CODIGO=6.0
df_results_vocales = df_results_2002[df_results_2002['DIGNIDAD_CODIGO'] == 8]
num_unique_values_7 = df_results_vocales['PARROQUIA_CODIGO'].nunique()
print("Number of unique values in the column:", num_unique_values_7)

#Extract the the rows of the same DIGNIDAD_CODIGO
df_1=find_row(df_votaciones_2002, 'SEXO', 'S1')

#print(df_1)
df2=find_row(df_1,'DIGNIDAD_CODIGO', 8 )
#print(df2)
df_3=find_row(df2, "ANIO", "2002_v_1")
print(df_3.shape)

Number of unique values in the column: 1162
(1161, 8)

In [17]:
df_results_2006=pd.read_csv("test_results/test_2006.csv")
df_votaciones_2006=pd.read_csv("test_results/test_2006_votacion.csv")
# Using nunique() method
num_unique_values = df_results_2006['PARROQUIA_CODIGO'].nunique()
#extraer dataframe con DIGNIDAD_CODIGO=6.0
df_results_vocales = df_results_2006[df_results_2006['DIGNIDAD_CODIGO'] == 1]
num_unique_values_7 = df_results_vocales['PARROQUIA_CODIGO'].nunique()
print("Number of unique values in the column:", num_unique_values_7)

#Extract the the rows of the same DIGNIDAD_CODIGO
df_1=find_row(df_votaciones_2006, 'SEXO', 'S0')

#print(df_1)
df2=find_row(df_1,'DIGNIDAD_CODIGO', 1 )
#print(df2)
df_3=find_row(df2, "ANIO", "2006_v_1")
print(df_3.shape)

Number of unique values in the column: 1241
(1241, 8)

In [15]:
df_results_2009=pd.read_csv("test_results/test_2009.csv")
df_votaciones_2009=pd.read_csv("test_results/test_2009_votacion.csv")
# Using nunique() method
num_unique_values = df_results_2009['PARROQUIA_CODIGO'].nunique()
#extraer dataframe con DIGNIDAD_CODIGO=6.0
df_results_vocales = df_results_2009[df_results_2009['DIGNIDAD_CODIGO'] == 1]
num_unique_values_7 = df_results_vocales['PARROQUIA_CODIGO'].nunique()
print("Number of unique values in the column:", num_unique_values_7)

#Extract the the rows of the same DIGNIDAD_CODIGO
df_1=find_row(df_votaciones_2009, 'SEXO', 'S1')

#print(df_1)
df2=find_row(df_1,'DIGNIDAD_CODIGO', 1 )
#print(df2)
df_3=find_row(df2, "ANIO", "2009_v_1")
print(df_3.shape)

Number of unique values in the column: 1248
(1248, 8)

In [10]:
# Using nunique() method
df_results_2013=pd.read_csv("test_results/test_2013.csv")
df_votaciones_2013=pd.read_csv("test_results/test_2013_votacion.csv")
num_unique_values = df_results_2013['PARROQUIA_CODIGO'].nunique()
#extraer dataframe con DIGNIDAD_CODIGO=6.0
df_results_vocales = df_results_2013[df_results_2013['DIGNIDAD_CODIGO'] == 1]
num_unique_values_7 = df_results_vocales['PARROQUIA_CODIGO'].nunique()
print("Number of unique values in the column:", num_unique_values_7)

#Extract the the rows of the same DIGNIDAD_CODIGO
df_1=find_row(df_votaciones_2013, 'SEXO', 'S0')

#print(df_1)
df2=find_row(df_1,'DIGNIDAD_CODIGO', 1 )
#print(df2)
df_3=find_row(df2, "ANIO", "2013_v_1")
print(df_3.shape)

Number of unique values in the column: 1300
(1305, 9)

In [18]:
# Using nunique() method
df_results_2021=pd.read_csv("test_results/test_2021.csv")
df_votaciones_2021=pd.read_csv("test_results/test_2021_votacion.csv")
num_unique_values = df_results_2021['PARROQUIA_CODIGO'].nunique()
#extraer dataframe con DIGNIDAD_CODIGO=6.0
df_results_vocales = df_results_2021[df_results_2021['DIGNIDAD_CODIGO'] == 1]
num_unique_values_7 = df_results_vocales['PARROQUIA_CODIGO'].nunique()
print("Number of unique values in the column:", num_unique_values_7)

#Extract the the rows of the same DIGNIDAD_CODIGO
df_1=find_row(df_votaciones_2021, 'SEXO', 'S0')

#print(df_1)
df2=find_row(df_1,'DIGNIDAD_CODIGO', 1 )
#print(df2)
df_3=find_row(df2, "ANIO", "2021_v_2")
print(df_3.shape)
#df_3.to_csv("test_results/test_2021_vocales.csv", index=False)

Number of unique values in the column: 1299
(1307, 11)